@charset "UTF-8";

//基本文字サイズ
@mixin basefont {
	font-size: 14px;
	line-height: 1.6;
}
$rp: 8px;// 角丸外


#debug {
  position: absolute;
  z-index: 999;
  right: 0;
	bottom: 0;
  display: none;
  display: block;
  padding: 5px;
  opacity: .8;
  color: #fff;
  background: #666;
}

#test:after {content: ':SP';}


body, section, div, dl, dt, dd, ul, ol, li, h1, h2, h3, p, th, td {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
	font-size: 0;
}

body, section, div, dt, dd, li, h1, h2, h3, p, th, td, small, em {
  font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	@include basefont;
}
body {
	background: #EEE;
}

header, #container, main, nav, aside, footer {
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	background: #FFF;
	h1 {
		text-align: center;
	}
}

#container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 16px;
	h1, h2, p {
		margin-top: 16px;
	}
}
main, nav, aside {
	margin-top: 16px;
	padding: 0 16px 16px 16px;
	border-radius: $rp;
}

main {
	background: #FFF;
}
nav {
	background: #000;
	width: 100%;
	color: #FFF;
}
aside {
	background: #000;
	width: 100%;
	color: #FFF;
}
footer {
	width: 100%;
	p {
			padding: 24px 0;
			text-align: center;
	}
}
@media (min-width: 960px) {
	#test:after {content:":900";}
	#container {
		width: 960px;
		margin: 0 auto;
		padding: 0;
		justify-content: space-between;
	}
	main {
		width: 560px;
	}
	nav {
		width: 184px;
	}
	aside {
		width: 184px;
	}
}
